<div style="display: flex;
    justify-content: center;
    margin: 10vw;"> 
<form>
  <div>
    <label for="addUser" style="color: bisque">Фамилия Имя</label>
    <input type="text" class="form-control" name="">
  </div>
  <div>
<label for="email" style="color: bisque">Email</label>
<input type="email" class="form-control" id="">
  </div>
    <div>
<label for="password" style="color: bisque">Password</label>
<input type="password" class="form-control" id="">ç
  </div>
   <div>
  <button class="btn btn-success" type="button">Добавить пользователя</button></div>
</form>
</div>

