<div action='/user/new_user' style="display: flex;
    justify-content: center;
    margin: 10vw;"> 
<form>
  <div>
    <label for="addUser" style="color: bisque">Фамилия Имя</label>
    <input type="text" class="form-control" name="nameUser">
  </div>
  <div>
<label for="email" style="color: bisque">Email</label>
<input type="email" class="form-control" name="emailUser">
  </div>
    <div>
<label for="password" style="color: bisque">Password</label>
<input type="password" class="form-control" name='password'>
  </div>
   <div>
  <button class="btn btn-success" type="submit">Добавить пользователя</button></div>

</form>
</div>

