{{!-- <form action='/user/new_worker' method='post'></form> --}}
<form>
  <div>
    <h2>Данные сотрудника</h2>
    <label for="addWorker">Фамилия Имя</label>
    <input type="text" class="form-control" name="workerName">
  </div>
  <h2>Данные ментора</h2>
      <label for="addWorker">Фамилия Имя</label>
    <input type="text" class="form-control" name="mentorName">
  </div>
   <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-success" type="button">Добавить пользователя</button></div>
// генерация ссылки 
  <input type="text" value="url">
</form>
