<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Добро пожаловать!</div>
      <div class='subtitle'>Ввойдите в свою учетную запись!
      </div>

      <form id="signinForm" method="POST" action="/">
      
      <div class='input-fields'>


        <label for="usermail">
        <input id="usermail"  name="email" type='email' placeholder='Введите Email' class='input-line full-width'></input>
        </label>


        <label  for="password">
        <input id="password" name="password" type='password' placeholder='Введите Пароль' class='input-line full-width'></input>
        </label>
      </div>
      
      <div><button type='submit' class='ghost-round full-width'>Войти</button></div>
      </form>


    </div>
  </div>
</div>
